boto3
botocore
certifi
dnspython
fastapi
from-root
imbalanced-learn
imblearn
Jinja2
jmespath
joblib
MarkupSafe
matplotlib
mypy-boto3-s3
numpy
pandas
pillow
plotly
pydantic
pymongo
python-multipart
PyYAML
scikit-learn
scipy
seaborn
starlette
uvicorn
-e .
